body {
  color: #4A4A4A;
}
//.font-light-blue {
//  color: #31A2BF;
//}
//
//.font-blue {
//  color: #2e8b9c;
//}

.font-dark-blue {
  color: #36459A;
}

.font-dark-green {
  color: #5F7812;
}
//
//.font-grey-blue {
//  color: #6e949c;
//}
//
.font-grey {
  color: #80816F;
}
//
//.font-dark-grey {
//  color: #3e3c3b;
//}
//
//.font-off-white {
//  color: #fbf2e1;
//}
//
//.font-orange {
//  color: #f7881f;
//}
//
//.font-dark-orange {
//  color: #F36525;
//}
//
.font-white,
a.font-white {
  color: #ffffff !important;
}

.font-gold {
  color: #FBAD17;
}
//
//.font-dark-brown,
//i.font-dark-brown {
//  color: #67250D;
//  border-color: #67250D;
//}
//
.font-shadowed {
  text-shadow: 2px 2px 5px #000;
}

.bg-white {
  background-color: #FFF;
}

.bg-green {
  background-color: #A6AF14;
}

.bg-light-green {
  background-color: #f3f4ef;
}

//
//.bg-orange,
//a.bg-orange,
//button.bg-orange {
//  background-color: #f36525;
//}
//
//body {
//  background-color: #f9f9f9;
//}

